[submodule "wp-content/plugins/uoft-helper-functions"]
	path = wp-content/plugins/uoft-helper-functions
	#url = git@github.com:titaniumbones/uoft-helper-functions.git
    url = https://github.com/titaniumbones/uoft-helper-functions.git
[submodule "wp-content/themes/wordpress-learning-theme"]
	path = wp-content/themes/wordpress-learning-theme
	url = https://github.com/titaniumbones/wordpress-learning-theme.git
[submodule "wp-content/themes/twentytwelve-hh-child"]
	path = wp-content/themes/twentytwelve-hh-child
	url = git@github.com:titaniumbones/Twenty-Twelve-Child.git
